@use "../../styles/utils/mixins" as *;

.section__collapse {
  margin: 0 0 10px;
  padding: 0 20px;

  @include responsive-tablet {
    padding: 0 150px;
  }

  @include responsive-desktop {
    margin: 30px auto;
    padding: 0 200px;
  }
}
