@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.container__cards {
  margin: 0 auto;
  background-color: white;
  padding: 0;

  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  row-gap: 20px;

  @include responsive-tablet {
    background-color: $primary-bg-color;
    padding: 30px;
    flex-direction: row;
    gap: 30px;
  }

  a {
    width: 100%;
    gap: 20px;
    object-fit: cover;

    @include responsive-tablet {
      width: 46%;
    }

    @include responsive-desktop {
      width: 30%;
    }
  }
}
