@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.container__card {
  height: 255px;

  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
  );

  background-color: $primary-color;
  position: relative;

  @include responsive-tablet {
    max-height:340px;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    position: absolute;
    bottom: 20px;
    margin: 0 20px;
    text-shadow: 0px 4px 4px #00000040;

    @include responsive-tablet {
      bottom: 10px;
    }
  }
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  @include responsive-tablet {
    height: 255px;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 10px solid white;
  border-bottom-color: transparent;
  border-radius: 40px;
  animation: loader 1s infinite linear;
  z-index: 1;
}

@keyframes loader {
  from {
    transform: translate(-50%) rotate(0deg);
  }

  to {
    transform: translate(-50%) rotate(360deg);
  }
}
