@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.article__collapse {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  img {
    width: 16px;
    height: 16px;

    &:hover {
      cursor: pointer;
    }

    @include responsive-tablet {
      width: 20px;
      height: 20px;
    }

    @include responsive-desktop {
      width: 24px;
      height: 24px;
    }
  }
}

.collapse__item {
  display: flex;
  margin: 0;
  background-color: $primary-color;
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  color: white;
  justify-content: space-between;

  h2 {
    color: white;
    font-size: 13px;
    font-weight: 700;

    @include responsive-tablet {
      font-size: 16px;
    }
    @include responsive-desktop {
      font-size: 18px;
    }
  }
}

.collapse-arrow-down {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.collapse-arrow-up {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.collapse__text {
  display: flex;
  margin: 0;
  border-radius: 0 0 5px 5px;
  background-color: $primary-bg-color;
  font-size: 12px;
  line-height: 18px;

  overflow: hidden;
  transition: height 0.4s ease-in-out;

  @include responsive-tablet {
    font-size: 16px;
    line-height: 22px;
  }
  @include responsive-desktop {
    font-size: 18px;
    line-height: 26px;
  }

  ul {
    margin: 20px;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}
