@use "../../styles/utils/mixins" as *;

header {
  max-width: 1440px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include responsive-tablet {
    padding: 0 100px;
  }

  img {
    width: 100px;
    height: 33px;

    @include responsive-tablet {
      width: 145px;
      height: 48px;
    }

    @include responsive-desktop {
      width: 210px;
      height: 68px;
    }
  }
}

.navbar {
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  display: flex;

  @include responsive-mobile {
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  &__link,
  &__link--active {
    margin-left: 10px;
    font-size: 12px;

    text-decoration: none;
    color: black;
    text-align: right;

    text-transform: uppercase;

    @include responsive-tablet {
      text-transform: none;
      margin-left: 30px;
      font-size:18px;
    }

    @include responsive-desktop {
      margin-left: 30px;
      font-size: 24px;
    }
  }

  &__link--active {
    text-decoration: underline;
  }
}
